In [1]:
1/0

ZeroDivisionError: division by zero

In [2]:
people = {1: 'Adam', 2: 'Tom', 4: 'Ann'}

In [3]:
people.get(2)

'Tom'

In [4]:
people.get(3)

In [5]:
people[2]

'Tom'

In [6]:
people[3]

KeyError: 3

In [15]:
try: 
    1/0
except Exception as ex: #nazywa jako ex
        print('Cennot get value: {}'.format(ex))

Cennot get value: division by zero

In [14]:
try: 
    1/0
    people[3]
except KeyError as ex: #nazywa jako ex
        print('Cennot get value: {}'.format(ex))
except ZeroDivisionError as ex:
        print('Cannot divide: {}'.format(ex))
except Exception as ex:
        print('Some other error {}'.format(ex))
finally:
        print('finished')

Cannot divide: division by zero
finished

In [16]:
#self odwolujemy sie do konkretnej instancji
#say hello - metoda
#property -wlasciwosc - dziala bez nawiasow, atrubut wydobycie atrybutow, wykonujemy metode, jednak bez nawiasow
#dziedziczenie - super - zeby odpalic konstruktor init z czlowieka - i on to wie dziekis uper
#

In [17]:
import pickle

In [18]:
pickle.dump #obiekt i plik

In [ ]:
#Context manager
with open('human.pickle', 'wb') as pickle_file: #otiweramy plik o tej nazwie w - bedziemy go zapisywac binarnie
    pickle.dump(ania, pickle_file) #dorzucila sie plik human pickle 

with open('human.pickle', 'rb') as pickle_file: #czytam
    tmp_read=pickle.load(pickle_file)
    
tmp_read.name

file_descriptor = open('human.pickle', 'rb')
file_descriptor.close() # to mniej polecana wersja

# Not to do

In [19]:
str = 5

In [23]:
for i in range(10):
    print("Petla nr: {}".format(str(i)))

Petla nr: 0
Petla nr: 1
Petla nr: 2
Petla nr: 3
Petla nr: 4
Petla nr: 5
Petla nr: 6
Petla nr: 7
Petla nr: 8
Petla nr: 9

In [22]:
del str

# Agrsy

In [29]:
def multiply(x, y):
   print (x * y)

print(multiply(5, 4))
multiply(5, 4, 3)

20
None

TypeError: multiply() takes 2 positional arguments but 3 were given

In [33]:
def multiply(*args):
   z = 1
   for num in args:
       z *= num
   print(z)

multiply(5, 4, 3)

def print_values(first_param=3, **kwargs):
   for key, value in kwargs.items():
       print("The value of {} is {}".format(key, value))

   print('First param{}'.format(first_param))

print_values(my_name="Sammy", your_name="Casey", first_param=4)

60
The value of my_name is Sammy
The value of your_name is Casey
First param4

In [57]:
params_dict = {'my_name':"Sammy", 'your_name':"Casey", 'first_param':4}

print_values(params_dict)

print_values(**params_dict)

First param{'my_name': 'Sammy', 'your_name': 'Casey', 'first_param': 4}
The value of my_name is Sammy
The value of your_name is Casey
First param4

# Lambda

In [24]:
#list comprehension
input_table = [i for i in range(10)]
input_table

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
map?

In [27]:
def convert_to_str(in_param):
    return str(in_param)
[convert_to_str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [28]:
[str(i) for i in input_table]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [31]:
def if_even_multiply(in_param):
    if in_param % 2 == 0:
        return in_param * 2
    return in_param

In [32]:
[if_even_multiply(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [37]:
if_even_multiply2 = lambda x: x*2 if x % 2 == 0 else x

In [38]:
if_even_multiply2(6)

12

In [39]:
[(lambda x: x*2 if x % 2 == 0 else x)(i) for i in input_table]

[0, 1, 4, 3, 8, 5, 12, 7, 16, 9]

In [40]:
list(filter(lambda x: True if x % 2 == 0 else False, input_table))

[0, 2, 4, 6, 8]

In [41]:
list(filter(lambda x: not x % 2 , input_table))

[0, 2, 4, 6, 8]

In [44]:
list(filter(lambda x: x > 5 , input_table))

[6, 7, 8, 9]

In [55]:
def fi(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return fi(n-2) + fi(n-1)
        
scrum_points = [fi(i) for i in range(8)]
scrum_points

[0, 1, 1, 2, 3, 5, 8, 13]

In [52]:
from functools import reduce

In [53]:
input_table = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
input_table

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
reduce(lambda x, y: x*y, input_table)

362880

In [59]:
reduce(lambda x, y: x+y, scrum_points)

33

In [60]:
import re

In [61]:
x = "first second third"

In [62]:
x.split()

['first', 'second', 'third']

In [63]:
x

'first second third'

In [66]:
y = "first, second, third"

In [68]:
y.split(', ')

['first', 'second', 'third']

In [69]:
separator = ","

In [70]:
re.split(separator, y)

['first', ' second', ' third']

In [71]:
x

'first second third'

In [72]:
z = "Merry christmas 2017, 2018 and 2019 Merry"
re.findall("Merry", z)

['Merry', 'Merry']

In [82]:
p = re.search("[A-Z][a-z]+", z)

In [169]:
p.group(0)

'Merry'

In [83]:
p

In [165]:
address = 'http://www.wp.pl'

In [94]:
def print_domain(in_adr):
    ab = re.split("\.", in_adr)[-1]
    return str("."+ab)#domain ex. .pl / .de /.eu

In [91]:
address.split(".")

['http://www', 'wp', 'pl']

In [127]:
re.split("\.", address)

['http://www']

In [141]:
print_domain(address)

In [132]:
def print_domain(in_adr):
    ab = re.findall("\.\w+", in_adr)[-1]
    return ab

In [154]:
print_domain(address)

In [166]:
def print_domain(in_adr):
    try:
        ab = re.findall("\.\w+$", in_adr)
    except AttributeError:
        print('No domain found')
    ab = re.findall("\.\w+$", in_adr)
    if ab == []:
        return("Uwaga, nie ma domeny!")
    else: return ab

In [167]:
print_domain(address)

['.pl']

In [159]:
address = "http://www"

In [170]:
print_domain(address)

['.pl']

In [174]:
address = "http://www.wp.pl\nhttp://www.o2.pl\nhttp://www.google.com"

In [175]:
print(address)

http://www.wp.pl
http://www.o2.pl
http://www.google.com

In [173]:
re.sub?

a = re.sub('\n', ', ',address)